<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quorum - Legislators</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='favicon.png') }}"
    />

    <style>
      .table {
        background-color: #f3e5f5; /* Light purple background */
      }
      .table th {
        background-color: #212051; /* Medium purple for header */
        color: #fff; /* Darker text color */
      }
      .table tbody tr:nth-child(even) {
        background-color: #bdb2eb; /* Lighter purple for even rows */
      }
      .table tbody tr:nth-child(odd) {
        background-color: #dbd5f0; /* Lighter purple for odd rows */
      }
      .table tbody tr:hover {
        background-color: #9f8de7; /* Darker purple on hover */
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row mb-4 align-items-center">
        <div class="col-md-4">
          <img
            src="{{ url_for('static', path='images/quorum_logo.jpg') }}"
            alt="Logo"
            class="img-fluid"
          />
        </div>
        <div class="col-md-8 text-center">
          <h1 class="display-4">Legislators Summary</h1>
        </div>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Legislator ID</th>
            <th scope="col">Legislator Name</th>
            <th scope="col">Supported Bills</th>
            <th scope="col">Opposed Bills</th>
          </tr>
        </thead>
        <tbody>
          {% for legislator in legislators %}
          <tr data-id="{{legislator.legislator_id}}" class="clickable-row">
            <td>{{ legislator.legislator_id }}</td>
            <td>{{ legislator.legislator_name }}</td>
            <td>{{ legislator.supported_bills_count }}</td>
            <td>{{ legislator.opposed_bills_count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div
      class="modal fade"
      id="legislatorModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="legislatorModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="legislatorModalLabel">
              Legislator Details
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6>Supported Bills:</h6>
            <ul id="supportedBills"></ul>
            <h6>Opposed Bills:</h6>
            <ul id="opposedBills"></ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function () {
        $(".clickable-row").on("click", function () {
          const legislatorId = $(this).data("id");

          // Fetch additional data from the api
          $.get(
            `api/legislators/${legislatorId}?include_details=true`,
            function (data) {
              $("#supportedBills").empty();
              $("#opposedBills").empty();

              data.detail.supported.forEach(function (bill) {
                $("#supportedBills").append(`<li>${bill}</li>`);
              });

              data.detail.opposed.forEach(function (bill) {
                $("#opposedBills").append(`<li>${bill}</li>`);
              });

              $("#legislatorModal").modal("show");
            }
          );
        });
      });
    </script>
  </body>
</html>
